* {
    box-sizing: border-box;
    border: 1px solid red;
}

body {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter--title {
    margin: 1rem;
}

.counter--buttons {
    margin-bottom: 1.5rem;
}

.total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}