* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: slategrey;
    margin-bottom: 2rem;
}

.navbar--title {
    margin: 1rem;
}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter--title {
    margin: 1rem;
}

.counter--buttons {
    display: flex;
    margin-bottom: 2rem;
    gap: 1rem;
}

.counter--minus, .counter--plus {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    font-size: 16px;
    color: white;
    background-color: slategray;
    border: none;
}

.counter--reset {
    width: 6rem;
    height: 3rem;
    border-radius: 3rem;
    font-size: 16px;
    color: white;
    background-color: slategray;
    border: none;
}

.counter--count {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 18px;
}

.total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.total--text {
    margin: 1rem;
}

.total--output {
    margin-bottom: 1rem;
    display: inline-block;
    width: 6rem;
    height: 3rem;
    border-radius: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 18px;
}